@font-face {
  font-family: 'Roboto - Black';
  src: url('../fonts/Roboto-Black/3953.eot');
  src: local('☺'), url('../fonts/Roboto-Black/3953.woff') format('woff'), url('../fonts/Roboto-Black/3953.ttf') format('truetype'), url('../fonts/Roboto-Black/3953.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-light/3962.eot');
  src: local('☺'), url('../fonts/Roboto-light/3962.woff') format('woff'), url('../fonts/Roboto-light/3962.ttf') format('truetype'), url('../fonts/Roboto-light/3962.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans - Semibold';
  src: local('☺'), url('../fonts/open-sans-semibold/OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat - bold';
  src: url('../fonts/Monsterrat-bold/montserratbold.eot');
  src: local('☺'), url('../fonts/Monsterrat-bold/montserratbold.woff') format('woff'), url('../fonts/Monsterrat-bold/montserratbold.ttf') format('truetype'), url('../fonts/Monsterrat-bold/montserratbold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto - Light Italic';
  src: url('../fonts/Roboto-Light-Italic/3963.eot');
  src: local('☺'), url('../fonts/Roboto-Light-Italic/3963.woff') format('woff'), url('../fonts/Roboto-Light-Italic/3963.ttf') format('truetype'), url('../fonts/Roboto-Light-Italic/3963.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
