*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: 900px;
  text-align: center;
  margin: 0 auto;
}

.main-menu {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-size: 0;
}

.menu-item {
  display: inline-block;
}

.menu-item:not(:last-child) {
  margin-right: 106px;
}

.menu-item-link {
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.menu-item-link:hover, 
.load-more-button:hover, 
.menu-item-link:focus, 
.load-more-button:focus {
  color: #03a9f4;
  cursor: pointer;
  border-color: #03a9f4;
}

header {
  padding-top: 78px;
  margin-bottom: 104px;
}

.articles {
  font-size: 0;
  padding-bottom: 70px;
}

.article-tile {
  width: 420px;
  display: inline-block;
  text-align: left;
}

.article-tile:not(:nth-child(2n)) {
  margin-right: 60px;
}

.article-tile {
  margin-bottom: 132px;
}

.article-tile:nth-last-of-type(-n+2) {
  margin-bottom: 50px;
}

.article-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 32px;
}

.article-category {
  margin: 0;
  margin-bottom: 28px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  /* margin: 32px 0 28px 0; */
}

.article-title {
  margin: 0;
  display: inline;
  width: 407px;
  height: 30px;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.article-text {
  margin: 0;
  margin-top: 32px;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.load-more-button {
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}