*, 
*::before, 
*::after {
  box-sizing: inherit;
}

div.wrapper {
  width: 900px;
  text-align: center;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 78px 0 auto;
  list-style: none;
}

li {
  display: inline-block;
}

li:not(:last-child) {
  margin-right: 106px;
}

a {
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

a:hover, 
button:hover, 
a:focus, 
button:focus {
  color: #03a9f4;
  cursor: pointer;
  border-color: #03a9f4;
}

header {
  margin-bottom: 104px;
}

section {
  font-size: 0;
}

article {
  width: 420px;
  display: inline-block;
  text-align: left;
}

article:not(:nth-child(2n)) {
  margin-right: 60px;
}

article {
  margin-bottom: 132px;
}

article:nth-last-of-type(-n+2) {
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 32px 0 28px 0;
}

h2 {
  display: inline;
  width: 407px;
  height: 30px;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

p {
  margin-top: 32px;
  margin-bottom: 0;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

button {
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
  color: #626262;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
  text-align: center;
  padding: 0;
  margin: 0 auto 70px;
}