*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 120px;
}

.main-menu {
  display: flex;
  min-width: 480px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.subheading {
  display: block;
  padding-top: 14px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.service-tile {
  max-width: 274px;
  text-align: center;
}

.service-tile::before {
  content: "";
  display: block;
  width: 67px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin: 0 auto 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.ecommerce::before {
  background-image: url(../img/Icon-Basket.png);
}

.resp-web::before {
  background-image: url(../img/Icon-Laptop.png);
}

.web-sec::before {
  background-image: url(../img/Icon-Locked.png);
}

.service-title {
  margin-bottom: 18px;
}

.contact-us {
  background-color: #222222;
  background-image: url(../img/Map\ Image.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 120px;

}

.contact-us .section-heading {
  padding-top: 110px;
}


