$monserat: 'Montserrat', sans-serif;
$monserat-bold: 'Montserrat - bold', sans-serif;
$roboto: "Roboto";
$kaushan-script: 'Kaushan Script', cursive;
$roboto-light-italic: 'Roboto - Light Italic';

$title-text-color: #333333;
$link-text-color: #ffffff;
$elem-text-color: #999999;
$link-hover-color: #fce38a;
$section-line-color: #f38181;
$team-tile-hover-bg: rgba(149, 225, 211, 1);
$social-list-overlay-from: rgba(252, 227, 138, 0.9);
$social-list-overlay-to: rgba(243, 129, 129, 0.9);
$footer-elements-color: #e7e7e7;