*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

header a {
  text-decoration: none;
}

body {
  width: 1110px;
  text-align: center;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

header {
  padding-top: 38px;
  margin-bottom: 104px;
}

.logo {
  float: left;
}

.main-menu {
  margin: 0;
  padding: 0;
  float: right;
}

.menu-item {
  float: left;
  vertical-align: middle;
  margin-top: 6px;
}

.menu-item:not(:last-of-type) {
  margin-right: 34px;
}

.menu-item-link {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  color: black;
}

.logo {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #555252;
  font-family: "Roboto Light";
  font-weight: 300;
  letter-spacing: -0.6px;
}

.section-title {
  margin: 0;
  padding: 0;
  color: #515151;
  font-family: "Roboto - Black";
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
  margin-bottom: 130px;
}

.products-container {
  margin: 0;
  padding: 0;
}

.product-tile {
  width: 255px;
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
}

.product-tile:nth-child(4n) {
  margin-right: 0;
}

.product-tile:nth-last-child(-n+4) {
  margin-bottom: 0;
}