*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-size: 0; */
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  color: #95e1d3;
  font-family: 'Montserrat - bold', sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 110px;
}

.main-menu {
  display: flex;
  width: 490px;
  justify-content: space-between;
}

.menu-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #95e1d3;
  padding-bottom: 10px;
}

.menu-link:hover {
  color: #f38181;
  border-bottom: solid;
}

.section-title {
  text-align: center;
  color: #333333;
  font-family: 'Montserrat - bold', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title::before {
  content: "We work with";
  display: block;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
}

.section-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 32px auto 66px;
}

.services-list {
  display: flex;
}

.service {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.service-img, .service-title, .service-description {
  /* flex-self: center; */
}


