*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 0;
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

ul {
  list-style: none;
}

header a {
  text-decoration: none;
}

body {
  width: 1600px;
  text-align: center;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

header {
  padding-top: 38px;
  margin-bottom: 32px;
}

.logo {
  float: left;
  position: relative;
  left: 245px;
}

.main-menu {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  right: 245px;
}

.menu-item {
  float: left;
  vertical-align: middle;
}

.menu-item:not(:last-of-type) {
  margin-right: 34px;
}

.menu-item-link {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  color: black;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: #1abc9c;
}

.logo {
  color: #555252;
font-family: Roboto;
font-size: 30px;
font-weight: 300;
line-height: 32px;
text-transform: uppercase;
}

.logo::first-letter {
  color: #1abc9c;
  font-family: "Roboto - Black", arial;
font-weight: 700;
letter-spacing: -0.6px;
}

.section-title {
  margin: 0;
  padding: 0;
  color: #515151;
  font-family: "Roboto - Black", arial;
  font-size: 48px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
  margin-bottom: 92px;
}

.section-title::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 32px auto 0;
}

.slider {
  width: 1600px;
  height: 600px;
  margin: auto;
  position: relative;
}

.slider-ctrl {
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  opacity: 0.65;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

.slide-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.prev {
  background-image: url("../img/prev.png");
  left: 245px;
}

.next {
  right: 245px;
  background-image: url("../img/next.png");
}

.slide {
  position: relative;
}

.slide-copy {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 220px;
  transform: translate(-50%);
}

.slide-title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto - Black", arial;
font-size: 60px;
font-weight: 700;
letter-spacing: -1.8px;
line-height: 82px;
text-align: left;
}

.slide-text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto Light", arial;
font-weight: 300;
letter-spacing: -0.48px;
line-height: 54px;
font-size: 24px;
text-align: left;
}

.main-content {
  background-color: #e9f0fd;
  margin: 0;
  padding: 100px 0;
}

.content-tile {
  margin: 0;
  padding: 0;
  floar: left;
  display: inline-block;
  position: relative;
}

.product-img {
  max-height: 322px;
  width: 100%;
}

.content-tile:not(:last-child) {
margin-right: 30px;
}

.name {
width: 200px;
color: #ffffff;
font-family: "Roboto - Black", arial;
font-size: 18px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
letter-spacing: -0.36px;
background-color: #323232;
text-align: left;
height: 40px;
padding-left: 10px;
padding-right: -10px;
position: absolute;
bottom: 0;
}

.price {
  width: 55px;
  color: #ffffff;
font-family: "Roboto - Black", arial;
font-size: 18px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
letter-spacing: -0.36px;
background-color: #8c8c8c;
height: 40px;
position: absolute;
right: 0;
bottom: 0;
}

.content-tile:hover .price {
  background-color: #7fd9c8;
}

.content-tile:hover .name {
  background-color: #1abc9c;
}

.overlay {
  width: 235px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}

.content-tile:hover > .overlay {
  opacity: 1;
}

.overlay-button {
  display: block;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 50px;
  height: 50px;
  position:absolute;
  background-repeat: no-repeat;
  background-size: contein;
  background-position: center;
  background-color: transparent;
}

.overlay-button:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.like {
  background-image: url("../img/like.png");
  top: 80px;
  left: 34px;

}

.arrow {
  background-image: url("../img/arrow.png");
  top: 80px;
  left: 92px;
}

.clock {
  background-image: url("../img/clock.png");
  top: 80px;
  right: 34px;
}

.cart {
  box-sizing: border-box;
  width: 166px;
  left: 34px;
  bottom: 70px;
  background-color: #323232;
  background-image: url("../img/cart.png");
  background-position: 12px;
  text-align: right;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  color: #ffffff;
  padding-right: 12px;
  text-decoration: none;
}

.footer {
  background-color: #323232;
}


.copyrights, .developed-by {
color: #fefefe;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 88px;
letter-spacing: -0.32px;
}

.developed-by {
color: #46bfa9; 
}